.myname {
    background-color: #4aaaa5;
    height: 50px;
    width: 16%;
    margin: auto;
    
  }

.aboutsection {
  margin: auto;
  height: 50px;
  width: 960px;

  }

.abouttitle {
  background-color: #4aaaa5;
  height: 50px;
  width: 16%;
  margin: auto;
  margin-top: 50px;
  }

  body {
    background-image: url('../images/white-waves.png');
  }

  